#inputBar{

border-radius: 30%;
display: flex;
flex-direction: column;
margin-top:2%;
margin-right: auto;
margin-left: auto;

}

#section{

  margin-right: auto;
  margin-left: auto;

}

#logo{

   display:flex;
   flex-direction:column;
   margin-left:auto;
   margin-right:auto;
}

#forgot-password{

   display:flex;
   flex-direction:column;
   margin-left:50%;

}

#send{
display: flex;
margin-left: auto;
margin-right: auto;

}